/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 19, 2019, 4:12:11 PM
    Author     : TranTham
*/


*{
    padding: 0;
    margin: 0;
}
body{

    width:auto;
    height: 100px;
    font-family: serif, sans-serif, Arial, Helvetica, sans-serif;
}
/*-------------------------------------------------------------------------------------*/
.wrap{
    width: 100%;
    height: 620px;  
 /*   background-image: linear-gradient(to top, whitef 0%, blue 150%);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
    background:lightgrey;
} 
/*-------------------------------------------------------------------------------------------------*/
/* thanh menu ngang */
.sidebar {
     background:#01458E;
   
    height: 50px;
    line-height: 50px;
    font-family: sans-serif;
    color: white;
}
ul {
    float: center;
}
li {
    display: inline;
    transition: 0.3s;
    padding: 12px 30px;
}
 

li a {
    color: white;
    text-decoration: none;
}
 
.icon {
    float: right;
    display: none;
}
ul li:hover{
    background-color:#009688;
    border-radius: 3px;
    transition: 0.3s;
}
ul.cap_2 {
    width: 200px;
    height: auto;
    border: 1px solid #192433;
    background-color: #192433;
    position: absolute;
    top: 39px;
    left: -13px;
    box-shadow: 2px 2px 4px 1px #00000057;
    display: none;
}
 
ul.cap_2 li {
    display: block;
    color: white;
    border-bottom: 1px solid white;
    padding: 0;
    text-align: center;
    cursor: pointer;
}
 
ul.cap_2 li:last-child {
    border: none;
}
 
li{
    position: relative;
}
li:hover ul.cap_2 {
    display: block;
}
@media(max-width:1000px){
    ul{
        display: none;
    }
    ul.active {
        margin: 0;
        background-color:black;
        width: 100%;
        height: 100%;
        position: fixed;
        top:50px;
        left: 0px;
        display: block;
    }
    ul li{
        display: block;
        text-align: center;
        border-bottom: 1px solid white
    }
    .icon{
        display: block;
    }
    ul.cap_2{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        left: 0px;
    }
}
 
/*-----------------------------------------------------------------------------------*/
/*phan than html*/
.content{    
    width: 100%px;
    height: 300px;}


#tren{
       display: grid;
    grid-template-columns: 1.5fr 1.6fr 1fr;
    grid-template-rows:auto;
    width: 100%;
  

}

/*form so tiep nhận & nha cung cap*/
/*----------------------------------------------------------------------------*/
#form-kholuutrumau{
    color: black;
    width: 500px;
    height: 130px;
    float: left;  
    margin-left:20px;
}
.form-table2{ 
    height: 50px;     
    }    
.form-table2 td{
    height: 30px;
    text-align: left;

       }   
.stn{
    width: 90px;

}
#inputstn input[type=radio]{
 margin-right: 60%;
}
#inputstn input[type=text]{
    width: 150px;
    height: 25px;
}
.inputstn select{
    height: 29px;
    width: 99%;
}
.m3 input[type=text]{
        border: none;
        background:none;
        outline: none;
        width: 100px;
    }   
    
/*----------------------------------------------------------------------------------------*/
#info{
    color:black;
    height: 130px;
    float: left;
    text-align: left;
    display: inline;
margin-left: 25px;

width: 400px;}

/*ban trang tai*/
#form-hienthi td{
  height: 10px;
 }
.pl1{
    width:130px;}
.pl1 select{
    width: 100%;
    height: 26px;}

.pl2 input[type=text]{
        width: 98%;
        height: 24px;
    }
.pl1 input[type=text]{
    width: 98%;
    height: 24px;
}
.pl1 select{
    width: 99%;
    height: 29px;
}
.pl1 input[type=datetime]{
    width: 98%;
    height: 24px;
}
.yte1{
    width: 300px;
}
.yte1  input[type=text]{
    widows: 80px;
    text-align: left;
}
.yte1 select{
    width: 98%;
    height: 29px;
}

/*end */
 /*---------------------------------------------------------------------------------------------*/
 
.table-tuimau{
        float: left;
        height: 130px;
        width: 550px;
       
}
.table-tuimau td{
        text-align: left;
        height:35px;
    }
/*bản ben phai*/
.banmm1{
        width: 145px;
}
.banmm{ width: 120px;}
.banmm input[type=text]{
        height: 24px;
} 
.banmm select{
        height: 28px;
        width: 99%;
        }
/*---------------------------------------------------------------------------------------------*//*nut xem*/
.nut{  
    margin-top: -30px;
    margin-bottom: 10px;      
    width: 100%;
    float: left;
    cursor: pointer;
}
#nutxem{
    cursor: pointer;
    display: block;
    text-align: center;
    height: 40px;
    float: left;
    width: 100%;
    outline: 0;
    color: #00000;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
    -moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);   
}
#nutxem:hover{  
    background: #01458E;
}
       /*bản hien thi cuoi*/
.panel-body2{
        float: left;
        width:1615px;
        border:1px solid black;      
} 
.panel-body{
    overflow:auto;
    float: left;
    width: 99.7%;
    border:2px solid black;   
} 
.bangthong-tin{

    width:1600px;
    font-size: 14px;
    border:  1px solid ;
    text-align: center;
}
.bangthong-tin th {    
    color: white;
    background: #01458E;
    white-space: nowrap;
    text-align: center;
    width: 100px;
    border: solid 1px;
    z-index: 100000; /*Hiển thị lớp trên cùng*/
}
.bangthong-tin td{
    text-overflow: ellipsis;
    overflow: hidden;
     white-space: nowrap;                
}
p{
    width: 100px;  
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.overflow-ellipsis {
    text-overflow: ellipsis;
  }

/*--------------------------------------------------------------------------------------------------------------------------*/
.footer {
    width: 100%;
    height: 30px;
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: brown;
}
